.resultsBlock{
    background-color: beige;
    width: 95vw;
    min-height: 90vh;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.resultsBlock__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.resultsBlock__buttons_back {
    padding: 12px 24px;
    background-color: rgb(62, 206, 62);
    border: 1px solid green;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.resultsBlock__buttons_back:hover {
    background-color: rgb(25, 171, 25);
    color: white;
    cursor: pointer;
}

.resultsBlock__buttons_download {
    color: blue;
}

.resultsBlock__noData {
    width: 100%;
    background-color: rgb(208, 207, 207);
    padding: 24px;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    text-align: center;
}

table {
  border: 2px solid rgb(140 140 140);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 3px;
}